WXAPPID=用不到小程序可以不填
WXAPPSECRET=用不到小程序可以不填
COOKIE_FILES=["/sanic/cookies/cookie0.json", "/sanic/cookies/cookie1.json", "/sanic/cookies/cookie2.json"]
https_proxy=http://172.18.0.1:1080
OPENAI_API_KEY=openai api key
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWD=
BING_URL=https://www.bing.com 代理地址
BING_PROXY_URL=https://www.bing.com/turing/conversation/create 代理地址
BARD_COOKIE_PATH=google bard cookie文件路径
BAIDUID=百度文心一言cookie
BDUSS_BFESS=百度文心一言cookie
