WXAPPID=用不到小程序可以不填
WXAPPSECRET=用不到小程序可以不填
COOKIE_FILES=["/sanic/cookies/cookie0.json", "/sanic/cookies/cookie1.json", "/sanic/cookies/cookie2.json"]
https_proxy=http://127.0.0.1:1080 # 目前中国大陆的IP会返回404，所以最好能加个代理
OPENAI_API_KEY=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWD=
