WXAPPID=用不到小程序可以不填
WXAPPSECRET=用不到小程序可以不填
COOKIE_FILE=/sanic/cookies/cookie.json
COOKIE_FILE1=/sanic/cookies/cookie1.json # 备用cookie1, 没有可以删掉
COOKIE_FILE2=/sanic/cookies/cookie2.json # 备用cookie2, 没有可以删掉
COOKIE_FILES=["/sanic/cookies/cookie.json", "/sanic/cookies/cookie1.json", "/sanic/cookies/cookie2.json"] #cookie列表，配置了此环境变量，会优先使用此变量，直接忽略上面的3个环境变量
https_proxy=http://127.0.0.1:1080 # 目前中国大陆的IP会返回404，所以最好能加个代理
OPENAI_API_KEY=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWD=
